header { background-color: #f7fd04;
  color:#5da85e;
  height: 100px ;}
  header div {float: left;
width: 30%;}
eader nav ul li a{ text-decoration: none;
 margin-left: 25px;}
header nav ul li{display: inline-block;
   margin-left: 20px }
header dev 
{float: left;}
header nav {margin-top: 25px; 
  width: 30%;
  float: right;}
  header div h1 {display: inline-bloc}
  main  div